
.carousel-control-prev-icon::before{
    color: #697480 !important;
}
.carousel-control-next-icon::before{
 color: #697480 !important;

}
.carousel-control-prev-icon{
    padding-top: 150px;
}
.carousel-control-next-icon{
    padding-top:150px;
    padding-left:300px;
}
h3{
    padding-left:400px;
    font-weight: bold;
//     padding-top:100px;
}

// .carousel-control-next-icon{
//   background-color: #f1f1f1;
//   color: white;
// }